<%
    title='Parola Degistir';
    hideLeftTopLogo=false;
%>
<% layout('../../_common/layout-general') %>

<div class="row justify-content-md-center mt-2">
    <div class="col-md-12 module-title text-center">
        <i class="fas fa-user"></i> <%=title%>
    </div>
</div>
<form action="" id="aform" role="form"  method="post" autocomplete="off">
    
    <div class="row justify-content-md-center">
        <% if ( typeof message!='undefined' ) { %>
        <div class="col-md-4">
            <div class="flash"><%= message %></div>
        </div>
        <% } %>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Kullanici adi:</label>
                <input class="form-control" placeholder="E-mail veya telefon" name="username" type="text" autocomplete="off" readonly="true" value="<%=username%>">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Mevcut Parola:</label>
                <input class="form-control" placeholder="Mevcut Parola" name="oldPassword" type="password" autocomplete="off" value="<%=form.oldPassword%>">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Yeni  Parola:</label>
                <input class="form-control" placeholder="Yeni Parola" name="newPassword" type="password" autocomplete="off" value="<%=form.newPassword%>"  required="true">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Tekrar Parola:</label>
                <input class="form-control" placeholder="Parola" name="rePassword" type="password" autocomplete="off" value="<%=form.rePassword%>"  required="true">
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-3" style="max-width: 60%;">
            <button type="submit" class="btn btn-primary btn-block">Degistir</button>
        </div>
        <div class="col-md-1" style="max-width: 40%;">
            <a href="/me?sid=<%=sid%>" class="btn btn-dark btn-block" title="Vazgeç"><i class="fa fa-reply"></i></a>
        </div>
    </div>
         

</form>
