<%
    title='Emlak';
    hideLeftTopLogo=false;
%>
<% layout('../_common/layout-general') %>

<div class="row justify-content-md-center mt-2">
    <div class="col-md-12 module-title text-center">
        <i class="fas fa-city"></i> <%=title%>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-sm-9">
        <div class="hovicon effect-1 sub-a">
            <div class="input-group">
                <input type="search" name="inputSearch" id="inputSearch" class="form-control" value="" placeholder="..." aria-describedby="button-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-search"><i class="fa fa-search"></i> ara</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-md-center mt-2">
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <!-- <a href="/realestate/house?sid=<%=sid%>" target="_self"><center><i class="fas fa-home"></i><br>Konut</center></a> -->
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-home"></i><br>Konut</center></a>
            
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <!-- <a href="/realestate/business?sid=<%=sid%>" target="_self"><center><i class="fas fa-store-alt"></i><br>İş Yeri</center></a> -->
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-store-alt"></i><br>İş Yeri</center></a>
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <!-- <a href="/realestate/field?sid=<%=sid%>" target="_self"><center><i class="fas fa-align-justify"></i><br>Arsa</center></a> -->
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-align-justify"></i><br>Arsa</center></a>
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <!-- <a href="/realestate/building?sid=<%=sid%>" target="_self"><center><i class="fas fa-building"></i><br>Bina</center></a> -->
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-building"></i><br>Bina</center></a>
            
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <!-- <a href="/realestate/time-shared-house?sid=<%=sid%>" target="_self"><center><i class="fas fa-gopuram"></i><br>Devremülk</center></a> -->
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-gopuram"></i><br>Devremülk</center></a>
        </div>
    </div>
</div>