<%
    title='Hizmetler';
    hideLeftTopLogo=false;
%>
<% layout('../_common/layout-general') %>

<div class="row justify-content-md-center mt-2">
    <div class="col-md-12 module-title text-center">
        <i class="fas fa-chalkboard-teacher"></i> <%=title%>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-sm-9">
        <div class="hovicon effect-1 sub-a">
            <div class="input-group">
                <input type="search" name="inputSearch" id="inputSearch" class="form-control" value="" placeholder="..." aria-describedby="button-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-search"><i class="fa fa-search"></i> ara</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-md-center mt-2">
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-broom"></i><br>Temizlik</center></a>
            
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-truck-moving"></i><br>Nakliye</center></a>
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-user-graduate"></i><br>Ders</center></a>
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-shield-alt"></i><br>Guvenlik</center></a>
            
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/underconstruction?sid=<%=sid%>" target="_self"><center><i class="fas fa-tshirt"></i><br>Tekstil Hizm.</center></a>
        </div>
    </div>
</div>