<% 
    title='Ana Sayfa';
    hideLeftTopLogo=true;
%>
<% layout('../_common/layout-general') %>

<div class="row justify-content-md-center mt-2 mb-4">
    <div class="col-md-6 text-center">
        <img src="/images/tr216-square-200x200.png" style="max-height: 250px;max-width: 100%;" alt="tr216 logo">
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/hr?sid=<%=sid%>" target="_self"><center><i class="fas fa-people-carry"></i><br><%=translation.JOB_AND_EMPLOYEE%></center></a>
            
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/realestate?sid=<%=sid%>" target="_self"><center><i class="fas fa-city"></i><br>emlak</center></a>
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/vehicle?sid=<%=sid%>" target="_self"><center><i class="fas fa-car-side"></i><br>vasıta</center></a>
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/market?sid=<%=sid%>" target="_self"><center><i class="fas fa-shopping-cart"></i><br>market</center></a>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/services?sid=<%=sid%>" target="_self"><center><i class="fas fa-chalkboard-teacher"></i><br>hizmetler</center></a>
            
        </div>
    </div>
    <div class="col-md-2 main-btn-col2">
        <div class="main-button pt-2">
            <a href="/portal?sid=<%=sid%>" target="_self"><center><i class="fab fa-empire"></i><br>tr216 portal</center></a>
        </div>
    </div>
</div>